/*---------------------------------
           NeutronCSS
---------------------------------*/
html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*--------- End of NeutronCSS ---------*/
body {
  margin-bottom: 24px;
  line-height: 16px;
  font-size: 16px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  float: left;
  clear: left;
}

.flex-1 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: left;
  float: none;
  margin-right: 0;
}
.flex-1:after {
  content: "";
  display: table;
  clear: both;
}
.flex-1 > *:nth-child(3n+1) {
  -webkit-flex: calc(16.66667% - 0px - 5px) 2;
  -ms-flex: calc(16.66667% - 0px - 5px) 2;
  flex: calc(16.66667% - 0px - 5px) 2;
  outline: 1px solid red;
  margin: 5px;
  clear: left;
  margin-left: 0;
}
.flex-1 > *:nth-child(3n+2) {
  -webkit-flex: calc(41.66667% - 0px - 5px - 5px) 5;
  -ms-flex: calc(41.66667% - 0px - 5px - 5px) 5;
  flex: calc(41.66667% - 0px - 5px - 5px) 5;
  outline: 1px solid red;
  margin: 5px;
  clear: none;
}
.flex-1 > *:nth-child(3n+3) {
  -webkit-flex: calc(41.66667% - 0px - 5px) 5;
  -ms-flex: calc(41.66667% - 0px - 5px) 5;
  flex: calc(41.66667% - 0px - 5px) 5;
  outline: 1px solid red;
  margin: 5px;
  clear: none;
  margin-right: 0;
}

.flex-2 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: left;
}
.flex-2:after {
  content: "";
  display: table;
  clear: both;
}
.flex-2 > *:nth-child(3n+1) {
  -webkit-flex: calc(16.66667% - 0px) 2;
  -ms-flex: calc(16.66667% - 0px) 2;
  flex: calc(16.66667% - 0px) 2;
  outline: 1px solid red;
  clear: left;
  margin-left: 0;
}
.flex-2 > *:nth-child(3n+2) {
  -webkit-flex: calc(41.66667% - 0px) 5;
  -ms-flex: calc(41.66667% - 0px) 5;
  flex: calc(41.66667% - 0px) 5;
  outline: 1px solid red;
  clear: none;
}
.flex-2 > *:nth-child(3n+3) {
  -webkit-flex: calc(41.66667% - 0px) 5;
  -ms-flex: calc(41.66667% - 0px) 5;
  flex: calc(41.66667% - 0px) 5;
  outline: 1px solid red;
  clear: none;
  margin-right: 0;
}
.flex-2 > *:nth-child(3n+2) {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.flex-2 > *:nth-child(3n+1) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.flex-2 > *:nth-child(3n+3) {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.flex-3 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: left;
}
.flex-3:after {
  content: "";
  display: table;
  clear: both;
}
.flex-3 > div:nth-of-type(2n+1) {
  -webkit-flex: calc(28.57143% - 0px) 2;
  -ms-flex: calc(28.57143% - 0px) 2;
  flex: calc(28.57143% - 0px) 2;
  outline: 1px solid red;
  clear: left;
  margin-left: 0;
}
.flex-3 > div:nth-of-type(2n+2) {
  -webkit-flex: calc(71.42857% - 0px) 5;
  -ms-flex: calc(71.42857% - 0px) 5;
  flex: calc(71.42857% - 0px) 5;
  outline: 1px solid red;
  clear: none;
  margin-right: 0;
}
