@import "../../neutroncss/neutron";

/* Media examples
-----------------------------*/

body {
	margin-bottom: 24px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	float: left;
	clear: left;
}

#onclick {
	display: block;
	clear: both;
}

[class^='target-'] {
    line-height: 16px;
	font-size: 16px;
}

.media-1 {
	@include columns(2) {
		outline: 1px solid red;
	};

	@include breakpoint('from-tablet') {
		@include columns(4);
	}
}

.media-2 {
	@include columns(2) {
		outline: 1px solid red;
	};

	@include breakpoint('from-tablet') {
		@include columns(4);
	}
		@include breakpoint($additional-queries: "min-width: 1000px")  {
			outline: 1px solid green;
			background: green;
		}
}

.media-3 {
	@include columns(2) {
		outline: 1px solid red;
	};

	@include breakpoint($resolution: 2)  {
		outline: 1px solid orange;
		background: orange;
	}
}
