/*---------------------------------
           NeutronCSS
---------------------------------*/
html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*--------- End of NeutronCSS ---------*/
/* Example Styling
-----------------------------*/
body {
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  float: left;
  clear: left;
}

p {
  float: right;
  clear: right;
}

section {
  outline: 1px solid red;
  margin-bottom: 20px;
  clear: left;
  line-height: 20px;
  font-size: 40px;
  text-align: center;
}
section div, section p {
  outline: red 1px solid;
}

div p {
  word-wrap: break-word;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul a {
  padding: 16px 24px;
}

nav ul .subhead {
  padding: 16px 24px;
}

/* Order examples
-----------------------------*/
.order-1 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-1:after {
  content: "";
  display: table;
  clear: both;
}
.order-1 > *:nth-child(4n+1) {
  width: calc(16.66667% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: left;
}
.order-1 > *:nth-child(4n+2) {
  width: calc(16.66667% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-1 > *:nth-child(4n+3) {
  width: calc(33.33333% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-1 > *:nth-child(4n+4) {
  width: calc(33.33333% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-1 > *:nth-child(4n+4) {
  left: calc(0px - ((0px + (16.66667%) + (16.66667%) + (33.33333%) + (33.33333%))) + (0px + (33.33333%)));
  position: relative;
}
.order-1 > *:nth-child(4n+2) {
  left: calc(0px - ((0px + (16.66667%) + (16.66667%))) + (0px + (33.33333%) + (16.66667%)));
  position: relative;
}
.order-1 > *:nth-child(4n+1) {
  left: calc(0px - ((0px + (16.66667%))) + (0px + (33.33333%) + (16.66667%) + (16.66667%)));
  position: relative;
}
.order-1 > *:nth-child(4n+3) {
  left: calc(0px - ((0px + (16.66667%) + (16.66667%) + (33.33333%))) + (0px + (33.33333%) + (16.66667%) + (16.66667%) + (33.33333%)));
  position: relative;
}

.order-2 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-2:after {
  content: "";
  display: table;
  clear: both;
}
.order-2 > *:nth-child(4n+1) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-2 > *:nth-child(4n+2) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-2 > *:nth-child(4n+3) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-2 > *:nth-child(4n+4) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-2 > *:nth-child(4n+4) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (16.66667% + 5px) + (33.33333% + 5px) + (33.33333% + 5px))) + (0px + (33.33333% + 5px)));
  position: relative;
}
.order-2 > *:nth-child(4n+3) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (33.33333% + 5px) + (33.33333% + 5px)));
  position: relative;
}
.order-2 > *:nth-child(4n+2) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (16.66667% + 5px))) + (0px + (33.33333% + 5px) + (33.33333% + 5px) + (16.66667% + 5px)));
  position: relative;
}
.order-2 > *:nth-child(4n+1) {
  left: calc(0px - ((0px + (16.66667% + 5px))) + (0px + (33.33333% + 5px) + (33.33333% + 5px) + (16.66667% + 5px) + (16.66667% + 5px)));
  position: relative;
}

.order-2-1 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-2-1:after {
  content: "";
  display: table;
  clear: both;
}
.order-2-1 > *:nth-child(6n+1) {
  width: calc(11.11111% - 10px - 10px + 1.66667px + 1.66667px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-2-1 > *:nth-child(6n+2) {
  width: calc(22.22222% - 10px - 10px + 1.66667px + 1.66667px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-2-1 > *:nth-child(6n+3) {
  width: calc(11.11111% - 10px - 10px + 1.66667px + 1.66667px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-2-1 > *:nth-child(6n+4) {
  width: calc(22.22222% - 10px - 10px + 1.66667px + 1.66667px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-2-1 > *:nth-child(6n+5) {
  width: calc(11.11111% - 10px - 10px + 1.66667px + 1.66667px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-2-1 > *:nth-child(6n+6) {
  width: calc(22.22222% - 10px - 10px + 1.66667px + 1.66667px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-2-1 > *:nth-child(6n+4) {
  left: calc(0px - ((0px + (11.11111% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px) + (22.22222% + 3.33333px))) + (0px + (22.22222% + 3.33333px)));
  position: relative;
}
.order-2-1 > *:nth-child(6n+2) {
  left: calc(0px - ((0px + (11.11111% + 3.33333px) + (22.22222% + 3.33333px))) + (0px + (22.22222% + 3.33333px) + (22.22222% + 3.33333px)));
  position: relative;
}
.order-2-1 > *:nth-child(6n+6) {
  left: calc(0px - ((0px + (11.11111% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px) + (22.22222% + 3.33333px))) + (0px + (22.22222% + 3.33333px) + (22.22222% + 3.33333px) + (22.22222% + 3.33333px)));
  position: relative;
}
.order-2-1 > *:nth-child(6n+5) {
  left: calc(0px - ((0px + (11.11111% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px))) + (0px + (22.22222% + 3.33333px) + (22.22222% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px)));
  position: relative;
}
.order-2-1 > *:nth-child(6n+1) {
  left: calc(0px - ((0px + (11.11111% + 3.33333px))) + (0px + (22.22222% + 3.33333px) + (22.22222% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px) + (11.11111% + 3.33333px)));
  position: relative;
}
.order-2-1 > *:nth-child(6n+3) {
  left: calc(0px - ((0px + (11.11111% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px))) + (0px + (22.22222% + 3.33333px) + (22.22222% + 3.33333px) + (22.22222% + 3.33333px) + (11.11111% + 3.33333px) + (11.11111% + 3.33333px) + (11.11111% + 3.33333px)));
  position: relative;
}

.order-3 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-3:after {
  content: "";
  display: table;
  clear: both;
}
.order-3 > *:nth-child(3n+1) {
  width: calc(25% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: left;
}
.order-3 > *:nth-child(3n+2) {
  width: calc(25% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-3 > *:nth-child(3n+3) {
  width: calc(50% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-3 > *:nth-child(3n+3) {
  left: calc(0px - ((0px + (25%) + (25%) + (50%))) + (0px + (50%)));
  position: relative;
}
.order-3 > *:nth-child(3n+2) {
  left: calc(0px - ((0px + (25%) + (25%))) + (0px + (50%) + (25%)));
  position: relative;
}
.order-3 > *:nth-child(3n+1) {
  left: calc(0px - ((0px + (25%))) + (0px + (50%) + (25%) + (25%)));
  position: relative;
}

.order-3-1 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-3-1:after {
  content: "";
  display: table;
  clear: both;
}
.order-3-1 > *:nth-child(3n+1) {
  width: calc(25% - 10px - 10px + 3.33333px + 3.33333px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-3-1 > *:nth-child(3n+2) {
  width: calc(25% - 10px - 10px + 3.33333px + 3.33333px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-3-1 > *:nth-child(3n+3) {
  width: calc(50% - 10px - 10px + 3.33333px + 3.33333px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-3-1 > *:nth-child(3n+3) {
  left: calc(0px - ((0px + (25% + 6.66667px) + (25% + 6.66667px) + (50% + 6.66667px))) + (0px + (50% + 6.66667px)));
  position: relative;
}
.order-3-1 > *:nth-child(3n+1) {
  left: calc(0px - ((0px + (25% + 6.66667px))) + (0px + (50% + 6.66667px) + (25% + 6.66667px)));
  position: relative;
}
.order-3-1 > *:nth-child(3n+2) {
  left: calc(0px - ((0px + (25% + 6.66667px) + (25% + 6.66667px))) + (0px + (50% + 6.66667px) + (25% + 6.66667px) + (25% + 6.66667px)));
  position: relative;
}

.order-4-1 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-4-1:after {
  content: "";
  display: table;
  clear: both;
}
.order-4-1 > *:nth-child(4n+1) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-4-1 > *:nth-child(4n+2) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-1 > *:nth-child(4n+3) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-1 > *:nth-child(4n+4) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-4-1 > *:nth-child(4n+3) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px))) + (0px + (16.66667% + 5px)));
  position: relative;
}
.order-4-1 > *:nth-child(4n+1) {
  left: calc(0px - ((0px + (16.66667% + 5px))) + (0px + (16.66667% + 5px) + (16.66667% + 5px)));
  position: relative;
}
.order-4-1 > *:nth-child(4n+4) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (16.66667% + 5px) + (16.66667% + 5px) + (33.33333% + 5px)));
  position: relative;
}
.order-4-1 > *:nth-child(4n+2) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (16.66667% + 5px) + (16.66667% + 5px) + (33.33333% + 5px) + (33.33333% + 5px)));
  position: relative;
}

.order-4-2 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-4-2:after {
  content: "";
  display: table;
  clear: both;
}
.order-4-2 > *:nth-child(4n+1) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-4-2 > *:nth-child(4n+2) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-2 > *:nth-child(4n+3) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-2 > *:nth-child(4n+4) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-4-2 > *:nth-child(4n+1) {
  left: calc(0px - ((0px + (16.66667% + 5px))) + (0px + (16.66667% + 5px)));
  position: relative;
}
.order-4-2 > *:nth-child(4n+3) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px))) + (0px + (16.66667% + 5px) + (16.66667% + 5px)));
  position: relative;
}
.order-4-2 > *:nth-child(4n+4) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (16.66667% + 5px) + (16.66667% + 5px) + (33.33333% + 5px)));
  position: relative;
}
.order-4-2 > *:nth-child(4n+2) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (16.66667% + 5px) + (16.66667% + 5px) + (33.33333% + 5px) + (33.33333% + 5px)));
  position: relative;
}

.order-4-3 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-4-3:after {
  content: "";
  display: table;
  clear: both;
}
.order-4-3 > *:nth-child(4n+1) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-4-3 > *:nth-child(4n+2) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-3 > *:nth-child(4n+3) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-3 > *:nth-child(4n+4) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-4-3 > *:nth-child(4n+4) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (33.33333% + 5px)));
  position: relative;
}
.order-4-3 > *:nth-child(4n+3) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px))) + (0px + (33.33333% + 5px) + (16.66667% + 5px)));
  position: relative;
}
.order-4-3 > *:nth-child(4n+1) {
  left: calc(0px - ((0px + (16.66667% + 5px))) + (0px + (33.33333% + 5px) + (16.66667% + 5px) + (16.66667% + 5px)));
  position: relative;
}
.order-4-3 > *:nth-child(4n+2) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (33.33333% + 5px) + (16.66667% + 5px) + (16.66667% + 5px) + (33.33333% + 5px)));
  position: relative;
}

.order-4-4 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-4-4:after {
  content: "";
  display: table;
  clear: both;
}
.order-4-4 > *:nth-child(4n+1) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-4-4 > *:nth-child(4n+2) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-4 > *:nth-child(4n+3) {
  width: calc(16.66667% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-4-4 > *:nth-child(4n+4) {
  width: calc(33.33333% - 10px - 10px + 2.5px + 2.5px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-4-4 > *:nth-child(4n+2) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (33.33333% + 5px)));
  position: relative;
}
.order-4-4 > *:nth-child(4n+4) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px) + (33.33333% + 5px))) + (0px + (33.33333% + 5px) + (33.33333% + 5px)));
  position: relative;
}
.order-4-4 > *:nth-child(4n+1) {
  left: calc(0px - ((0px + (16.66667% + 5px))) + (0px + (33.33333% + 5px) + (33.33333% + 5px) + (16.66667% + 5px)));
  position: relative;
}
.order-4-4 > *:nth-child(4n+3) {
  left: calc(0px - ((0px + (16.66667% + 5px) + (33.33333% + 5px) + (16.66667% + 5px))) + (0px + (33.33333% + 5px) + (33.33333% + 5px) + (16.66667% + 5px) + (16.66667% + 5px)));
  position: relative;
}

.order-5 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-5:after {
  content: "";
  display: table;
  clear: both;
}
.order-5 > *:nth-child(5n+1) {
  width: calc(14.28571% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: left;
}
.order-5 > *:nth-child(5n+2) {
  width: calc(28.57143% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-5 > *:nth-child(5n+3) {
  width: calc(14.28571% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-5 > *:nth-child(5n+4) {
  width: calc(14.28571% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-5 > *:nth-child(5n+5) {
  width: calc(28.57143% - 10px - 10px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-5 > *:nth-child(5n+5) {
  left: calc(0px - ((0px + (14.28571%) + (28.57143%) + (14.28571%) + (14.28571%) + (28.57143%))) + (0px + (28.57143%)));
  position: relative;
}
.order-5 > *:nth-child(5n+3) {
  left: calc(0px - ((0px + (14.28571%) + (28.57143%) + (14.28571%))) + (0px + (28.57143%) + (14.28571%)));
  position: relative;
}
.order-5 > *:nth-child(5n+4) {
  left: calc(0px - ((0px + (14.28571%) + (28.57143%) + (14.28571%) + (14.28571%))) + (0px + (28.57143%) + (14.28571%) + (14.28571%)));
  position: relative;
}
.order-5 > *:nth-child(5n+2) {
  left: calc(0px - ((0px + (14.28571%) + (28.57143%))) + (0px + (28.57143%) + (14.28571%) + (14.28571%) + (28.57143%)));
  position: relative;
}
.order-5 > *:nth-child(5n+1) {
  left: calc(0px - ((0px + (14.28571%))) + (0px + (28.57143%) + (14.28571%) + (14.28571%) + (28.57143%) + (14.28571%)));
  position: relative;
}

.order-6 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-6:after {
  content: "";
  display: table;
  clear: both;
}
.order-6 > *:nth-child(5n+1) {
  width: calc(14.28571% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-6 > *:nth-child(5n+2) {
  width: calc(28.57143% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-6 > *:nth-child(5n+3) {
  width: calc(14.28571% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-6 > *:nth-child(5n+4) {
  width: calc(14.28571% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-6 > *:nth-child(5n+5) {
  width: calc(28.57143% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-6 > *:nth-child(5n+2) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px))) + (0px + (28.57143% + 4px)));
  position: relative;
}
.order-6 > *:nth-child(5n+3) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px) + (14.28571% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px)));
  position: relative;
}
.order-6 > *:nth-child(5n+4) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px)));
  position: relative;
}
.order-6 > *:nth-child(5n+5) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px) + (28.57143% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px) + (28.57143% + 4px)));
  position: relative;
}
.order-6 > *:nth-child(5n+1) {
  left: calc(0px - ((0px + (14.28571% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px) + (28.57143% + 4px) + (14.28571% + 4px)));
  position: relative;
}

.order-6-1 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-6-1:after {
  content: "";
  display: table;
  clear: both;
}
.order-6-1 > *:nth-child(5n+1) {
  width: calc(14.28571% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: left;
  margin-left: 0;
}
.order-6-1 > *:nth-child(5n+2) {
  width: calc(28.57143% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-6-1 > *:nth-child(5n+3) {
  width: calc(14.28571% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-6-1 > *:nth-child(5n+4) {
  width: calc(14.28571% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
}
.order-6-1 > *:nth-child(5n+5) {
  width: calc(28.57143% - 10px - 10px + 2px + 2px);
  float: left;
  margin: 10px;
  clear: none;
  margin-right: 0;
}
.order-6-1 > *:nth-child(5n+2) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px))) + (0px + (28.57143% + 4px)));
  position: relative;
}
.order-6-1 > *:nth-child(5n+3) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px) + (14.28571% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px)));
  position: relative;
}
.order-6-1 > *:nth-child(5n+1) {
  left: calc(0px - ((0px + (14.28571% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px)));
  position: relative;
}
.order-6-1 > *:nth-child(5n+4) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px) + (14.28571% + 4px)));
  position: relative;
}
.order-6-1 > *:nth-child(5n+5) {
  left: calc(0px - ((0px + (14.28571% + 4px) + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px) + (28.57143% + 4px))) + (0px + (28.57143% + 4px) + (14.28571% + 4px) + (14.28571% + 4px) + (14.28571% + 4px) + (28.57143% + 4px)));
  position: relative;
}

.order-7, .order-8 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.order-7:after, .order-8:after {
  content: "";
  display: table;
  clear: both;
}
.order-7 > *:nth-child(5n+1), .order-8 > *:nth-child(5n+1) {
  width: calc(14.28571% - 40px - 40px + 8px + 8px);
  float: left;
  margin: 10px 40px;
  clear: left;
  margin-left: 0;
}
.order-7 > *:nth-child(5n+2), .order-8 > *:nth-child(5n+2) {
  width: calc(28.57143% - 40px - 40px + 8px + 8px);
  float: left;
  margin: 10px 40px;
  clear: none;
}
.order-7 > *:nth-child(5n+3), .order-8 > *:nth-child(5n+3) {
  width: calc(14.28571% - 40px - 40px + 8px + 8px);
  float: left;
  margin: 10px 40px;
  clear: none;
}
.order-7 > *:nth-child(5n+4), .order-8 > *:nth-child(5n+4) {
  width: calc(14.28571% - 40px - 40px + 8px + 8px);
  float: left;
  margin: 10px 40px;
  clear: none;
}
.order-7 > *:nth-child(5n+5), .order-8 > *:nth-child(5n+5) {
  width: calc(28.57143% - 40px - 40px + 8px + 8px);
  float: left;
  margin: 10px 40px;
  clear: none;
  margin-right: 0;
}
.order-7 > *:nth-child(5n+5), .order-8 > *:nth-child(5n+5) {
  left: calc(0px - ((0px + (14.28571% + 16px) + (28.57143% + 16px) + (14.28571% + 16px) + (14.28571% + 16px) + (28.57143% + 16px))) + (0px + (28.57143% + 16px)));
  position: relative;
}
.order-7 > *:nth-child(5n+3), .order-8 > *:nth-child(5n+3) {
  left: calc(0px - ((0px + (14.28571% + 16px) + (28.57143% + 16px) + (14.28571% + 16px))) + (0px + (28.57143% + 16px) + (14.28571% + 16px)));
  position: relative;
}
.order-7 > *:nth-child(5n+2), .order-8 > *:nth-child(5n+2) {
  left: calc(0px - ((0px + (14.28571% + 16px) + (28.57143% + 16px))) + (0px + (28.57143% + 16px) + (14.28571% + 16px) + (28.57143% + 16px)));
  position: relative;
}
.order-7 > *:nth-child(5n+4), .order-8 > *:nth-child(5n+4) {
  left: calc(0px - ((0px + (14.28571% + 16px) + (28.57143% + 16px) + (14.28571% + 16px) + (14.28571% + 16px))) + (0px + (28.57143% + 16px) + (14.28571% + 16px) + (28.57143% + 16px) + (14.28571% + 16px)));
  position: relative;
}
.order-7 > *:nth-child(5n+1), .order-8 > *:nth-child(5n+1) {
  left: calc(0px - ((0px + (14.28571% + 16px))) + (0px + (28.57143% + 16px) + (14.28571% + 16px) + (28.57143% + 16px) + (14.28571% + 16px) + (14.28571% + 16px)));
  position: relative;
}
