@import "../../neutroncss/neutron";

/* Margin examples
-----------------------------*/

body {
	margin-bottom: 24px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	float: left;
	clear: left;
} 

#onclick {
	display: block;
	clear: both;
}

[class^='target-'] {
    line-height: 16px;
	font-size: 16px;
}

.target-1 {
	@include columns((2,5,5), $target: ".tar") {
		outline: 1px solid red;
	};
}

div {
	background: color;
}

section {
	background: color;
}

.tar {
	background: color;
}